.logo{
    width: 20%;
}

.contenido{
   display: flex;
   margin-left: 2em;
}

#texto{
    font-size: 20px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    font-style: inherit;
    text-align: center;
    border: none;
}

.contenido-2{
   width: 30%;
   text-align: center;
   background-image: url(img/img3.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   margin-left: 4em;
}

.contenido-2:hover{
    border: 2px solid aqua;
    border-radius: 4%;
}

.textoencriptado{
    font-size: 20px;
    font-weight: bold;
    
} 


.contenido-2>p{
    margin-top: 400px;
    font-size: 20px;
    font-weight: bold; 
    background-color: #0C9EDE;
    width: 70%;
    margin-left:65px;
}
.contenido-2b>p{
    margin-top: 400px;
    font-size: 20px;
    font-weight: bold; 
    background-color:red;
    width: 70%;
    margin-left:65px;
}
.contenido-2c>p{
    margin-top: 400px;
    font-size: 20px;
    font-weight: bold; 
    background-color:yellow;
    width: 70%;
    margin-left:65px;
}
.contenido-2d>p{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold; 
    word-break: break-all;
   
    
}

.contenido-2b{
    width: 30%;
    text-align: center;
    background-image: url(img/img1.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    margin-left: 4em;
    border: 2px solid red;
}

.contenido-2c{
    width: 30%;
    text-align: center;
    background-image: url(img/img4.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    margin-left: 4em;
    border: 2px solid yellow;
}

.contenido-2d{
    width: 30%;
    text-align: center;
    background-image: url(img/ft.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 4em;
    border: none;
   
}

.btn-copiar{
    width: 20%;
    padding: 15px 0;
    font-size: 20px;
    font-weight: bold;
    color: black;
    border: 1px solid aqua;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
    margin-left: 30px;
} 


.btn2{
    width: 20%;
    padding: 15px 0;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: #0C9EDE;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
    margin: 10px 80px 10px 70px;
}

.btn2:hover{
    background-color: aqua;
    transform: scale(1.2);
}

.btn3{
    width: 20%;
    padding: 15px 0;
    font-size: 20px;
    font-weight: bold;
    color: black;
    border: 1px solid aqua;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
    margin-left: 30px;
}
.btn3:hover{
    
    transform: scale(1.2);
}

#copiar{
   display: block;
    margin-top: -4rem;
    margin-left: 54rem
}


/*tamno para tablet*/

@media screen  and (max-width: 768px) {
    .logo{
        width: 180px;
    }
    .contenido{
        display: inline;  
    }
    #texto{
         margin: 0 10px 10px 130px;
         width: 380px;
       
    }

    .contenido-2,.contenido-2b,.contenido-2c,.contenido-2d{
       width: 380px;
       margin: 70px 0 10px 130px;
    }

    .botones{
      position: absolute;
      left: 16%;
      top: 40%;
      width: auto;
    }
    .btn2,.btn3{
        padding: 1rem 6rem 1rem 1rem;
        font-size: 16px;
        text-align: center;
    }
   #copiar{
       display:block;
       margin-top: 40rem;
       margin-left: 9rem;
   }
}
 /*celular*/
@media screen and (max-width: 480px) {
    #texto,.contenido-2,.contenido-2b,.contenido-2c,.contenido-2d{
        margin: auto;
        
    }
    .botones{
        left:-10%;
        top: 30%;
      
    }
    .contenido-2,.contenido-2b,.contenido-2c,.contenido-2d{
        margin-top: 7rem;
    }
   
}